.botonMenu{
   border-radius: 3px;
   background-color: #6B9BA5;
   width: 150px;
   height: 50px;
   margin-top: 10px;


}
#msjBienvenida{
    width: 350px;
    float: right;

}
#contenedor{
    width: 100%;
    background-color: #0A4D7B;
    height: 550px;
    float: left;
    border: 1px solid;

}
#titulo{
    color: black;
    text-align: center;
}
#botones-iz{
    width: 200px;
    height: 250px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
#botones-der{
    width: 200px;
    height: 250px;
    float: right;
    margin-right: 150px;
    margin-top: 50px;
}
#cont-datos{
    width: 600px;
    height: 350px;
    float: left;
    margin-left: 200px;
    border: 1px solid;
}
