
#productos{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex: auto;
  flex-wrap: wrap;
  background-color: #F3F3F3;
  border-radius: 20px;
}

.product-box{
  margin: 10px 20px;
  background: rgb(143,143,156);
  background: radial-gradient(circle, rgba(143,143,156,1) 0%, rgba(255,255,255,1) 97%);
  box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.21);
  display: table-column;
  border-radius: 5px;
}

.imgpro{
  margin: 10px;
}

.stockpro{
  text-align: center;
  margin: 5px 10px;
}

.namepro{
  text-align: center;
  margin: 0px 10px;
  width: 200px;
  height: 30px;
}

.preciopro{
  border-radius: 10px;
  text-align: center;
  width: 100px;
  margin: 5px auto 10px auto;
  background: #CCC9C9;
}

.fors{
  text-align: center;
}

.botonpro{
  margin: auto;
  background: #AEB6BF;
  border-radius: 15px;
  border-style: none;
  -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 0px 0px 1px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0px #0B325E, 0px 0px 1px 5px rgba(0,0,0,0);

}
